body {
	background-color: rgb(45, 45, 45);
	color:white;
}

#frame {
	background-color: white;
	margin-right: 3vw;
	float: left;
	padding: 1%;
	color: black;
}

#frame {
	justify-items: center;
}

#img img {
	margin-top: 5%;
	border: 5px solid black;
	max-height: 250px;
}