:root {
    --corPrimaria: rgb(189, 135, 255);
    --corFundoPrimaria: rgb(45, 45, 45);
    --corSecundaria: rgb(54, 0, 90);
    --corFundoSecundaria: azure;
}

body {
    display: grid;
    grid-template-rows: 10vh 60vh 25vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--corFundoPrimaria);
    margin: 1rem;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    width: 25%;
    color: var(--corPrimaria);
}

header nav {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav div {
    background-color: var(--corPrimaria);
    width: 100%;
    padding: 1rem;
    margin: 0.1rem;
    text-align: center;
    font-weight: bold;
}

header nav div:first-of-type {
    border-radius: 10px 0 0 10px;
}

header nav div:last-of-type {
    border-radius: 0 10px 10px 0;
}

header nav div:hover {
    background-color: var(--corSecundaria);
    border-color: var(--corPrimaria);
    border-style: solid;
    border-width: 0.15rem;
    color: var(--corFundoSecundaria);
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: inherit;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section {
    padding: 1rem;
}

main section:first-of-type {
    color: var(--corFundoSecundaria)
}

main section:nth-of-type(2) {
    overflow-y: auto;
    color: var(--corFundoSecundaria)
}

main section div.news {
    background-color: var(--corFundoSecundaria);
    color: black;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

main section div.news:hover {
    border: solid 0.2rem var(--corPrimaria);
}

footer {
    padding: 1rem;
    color: var(--corFundoSecundaria);
    display: flex;
    flex-direction: row;
}

footer section#creator {
    width: 25%;
}

footer section img {
    height: 50%;
}

footer blockquote {
    width: 75%;
    align-content: center;
}